.logo-empresa-negro-sin-letras img {
    width: 300px; 
    height: auto; 
}

.container-form{
    border: 20px;
    border-color: #98bf44;
    align-items: center;
    padding-top: 900px;
    left: 20;
    right: 20;
}

.custom-form {
    margin: 20px; 
    padding: 20px; 
    border-radius: 10px; 
    border-color:#98bf44;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.803); 
    background-color: #ffffff; 
}

.cuenta{
    display: flex; 
    align-items: center;
}

.header-layout {
    background-color: #98bf44; 
    color: white; 
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.dropdown-toggle {
    color: white; 
}

.dropdown-item {
    color: #98bf44; 
}

.barra-layout {
    width: 400px !important;
    padding: 30px !important; 
    font-size: 1rem !important;
    color:#98bf44 !important;
    border-radius: 10px !important;
}

.button-layout{
    background-color: white !important;
    border-color: #98bf44 !important; 
    color:#98bf44 !important;
    border-radius: 10px !important;
    
}

.button-layout:hover{
    background-color: #98bf44!important;
    color: white !important;
    border-color: white !important;
}

.dropdown-item:hover{
    background-color: #98bf44!important;
    color: white !important;
    border-color: white !important;
}

.dropdown-menu{
    border-radius: 10px !important;
}

.custom-card {
    border: none;
    background: transparent; 
    box-shadow: none; 
}

.container-perfil{
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.h2-perfil{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-profile-edit{
    padding-bottom: 50px;
}

.button-profile:hover{
    color: white !important;
}

#preview-profile-photo {
    display: block; 
    margin: 0 auto; 
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.button-profile{
    color: white !important;
    border-radius: 10px !important;
}

.dropdown-profile:hover{
    background-color:white !important;
    color: #ffc107 !important;
}

.dropdown-profile{
    color:white !important;
}

.dropdown-menu-profile{
    border-radius: 10px !important;
    background-color: #ffc107;
    width: 100%; 
    min-width: 0;
}

.container {
    margin-top: 20px; 
}

.product-row {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
}

.product-card {
    border-radius: 10px; 
    background-color: #f8f9fa; 
    transition: transform 0.2s;
    text-align: center; 
    flex: 1 0 30%; 
    margin: 10px; 
    min-height: 350px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    position: relative;
}

.product-card-landing {
    border-radius: 10px; 
    background-color: #f8f9fa; 
    transition: transform 0.2s;
    text-align: center; 
    flex: 1 0 30%; 
    margin: 10px; 
    min-height: 350px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

.product-image {
    width: 200px; 
    height: 200px;
    border-radius: 50%; 
    object-fit: cover; 
    margin-bottom: 15px; 
}

.product-name {
    font-size: 1.5rem; 
    margin-bottom: 10px; 
    color: black;
}

.product-name-landing {
    font-size: 1.5rem; 
    margin-bottom: 10px; 
    color: black !important;
}

.product-price {
    font-size: 1.80rem; 
    color: #28a745;
    margin-bottom: 10px;
}

.product-description {
    color: #6c757d;
    font-size: 1rem; 
}

.product-card-landing:hover {
    transform: scale(1.05); 
    cursor: pointer;
    background-color: white;
}

.product-card:hover {
    transform: scale(1.05); 
    cursor: pointer;
    background-color: #e8f5e9;
}

.btn-guardado {
    top: 10px; 
    right: 10px;
    border: none;
    background-color: transparent;
}

.heart-icon {
    width: 24px; 
    height: 24px;
}

.heart-icon:hover{
    transform: scale(1.2); 
    cursor: pointer;
}

.campo{
    border-color: #98bf44;
    border: 10px;
}

.btn-planta{
    border-radius: 10px !important;
}

.btn-planta:hover{
    background-color: white !important;
    color: #98bf44 !important;
    border-color: #98bf44 !important;
}

.sin-carrito{
    width: 400px;
    height: auto;
}

.modal-title{
    text-align: center;
    color: red;
}

.email-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    background-color: #f4f4f4;
}

.email-title {
    color: #2d6a4f;
    font-size: 24px;
    margin: 0;
}

.email-paragraph {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.email-status {
    font-weight: bold;
    color: #98bf44;
}

.email-logo {
    max-width: 200px;
    margin-top: 20px;
}

.info-box {
    background: #ffffff;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .info-box h4 {
    font-size: 1.5rem;
    color: #4caf50;
    margin-bottom: 10px;
  }
  
  .info-box p, .info-box li {
    font-size: 1rem;
    color: #555555;
  }
  
  .info-box ul {
    padding-left: 20px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  